<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire_01_2_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,468},{20,54}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{20,54}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>Fire_01_2_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,328},{22,44}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{22,44}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>Fire_01_2_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,417},{22,48}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{22,48}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>Fire_01_2_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,451},{20,52}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{20,52}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>Fire_01_2_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,341},{16,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{16,54}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>Fire_01_2_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,487},{20,42}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{20,42}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>Fire_01_2_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,440},{20,46}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{20,46}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>Fire_01_2_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,440},{20,50}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{20,50}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>Fire_01_2_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,396},{20,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{20,52}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>Fire_01_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,389},{38,106}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{38,106}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>Fire_01_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,130},{46,84}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{46,84}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>Fire_01_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{44,94}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{44,94}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>Fire_01_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,373},{40,102}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{40,102}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>Fire_01_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,229},{30,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{30,106}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>Fire_01_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,237},{38,80}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{38,80}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>Fire_01_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,231},{38,92}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{38,92}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>Fire_01_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,231},{40,96}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{40,96}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>Fire_01_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,95},{40,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{40,104}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>Fire_02_2_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,451},{20,38}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{20,38}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>Fire_02_2_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,417},{20,38}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{20,38}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>Fire_02_2_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,440},{24,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{24,42}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>Fire_02_2_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,328},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>Fire_02_2_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,479},{28,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>Fire_02_2_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,479},{28,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>Fire_02_2_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,489},{18,48}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,48}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>Fire_02_2_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,215},{16,36}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{16,36}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>Fire_02_2_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,491},{16,38}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{16,38}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>Fire_02_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,282},{40,76}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{40,76}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>Fire_02_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,373},{38,74}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{38,74}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>Fire_02_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,130},{46,84}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{46,84}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>Fire_02_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,140},{56,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{56,88}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>Fire_02_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,140},{54,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,90}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>Fire_02_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,373},{54,94}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{54,94}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>Fire_02_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,140},{34,96}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{34,96}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>Fire_02_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,448},{30,70}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,25},{30,70}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>Fire_02_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,373},{32,74}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{32,74}}</string>
                <key>sourceSize</key>
                <string>{58,102}</string>
            </dict>
            <key>Fire_03_2_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,324},{62,54}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{62,54}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>Fire_03_2_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,323},{62,54}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{62,54}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>Fire_03_2_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,341},{60,54}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>Fire_03_2_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,379},{60,58}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>Fire_03_2_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,379},{58,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>Fire_03_2_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,280},{60,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>Fire_03_2_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,215},{60,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,66}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>Fire_03_2_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,215},{60,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>Fire_03_2_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,451},{60,56}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>Fire_03_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,0},{122,106}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{122,106}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>Fire_03_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,250},{122,104}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{122,104}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>Fire_03_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{120,110}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,25},{120,110}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>Fire_03_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{118,116}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{118,116}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>Fire_03_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,129},{116,120}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{116,120}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>Fire_03_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,131},{118,124}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{118,124}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>Fire_03_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,130}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{118,130}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>Fire_03_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{120,128}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{120,128}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>Fire_03_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,377},{118,110}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,25},{118,110}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>Fire_04_2_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,438},{14,10}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,66},{14,10}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_2_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,200},{14,20}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,56},{14,20}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_2_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,200},{14,28}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{14,28}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_2_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,438},{12,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{12,56}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_2_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,496},{10,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{10,62}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_2_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{10,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{10,66}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_2_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,472},{6,28}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{6,28}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_2_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,396},{6,18}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{6,18}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_2_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,476},{2,12}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{2,12}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_2_looped_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,341},{2,4}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{2,4}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_2_looped_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,472},{6,4}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,71},{6,4}}</string>
                <key>sourceSize</key>
                <string>{16,86}</string>
            </dict>
            <key>Fire_04_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,396},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,131},{28,20}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
            <key>Fire_04_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,336},{30,36}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,115},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
            <key>Fire_04_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,479},{28,56}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,95},{28,56}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
            <key>Fire_04_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,117},{22,110}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{22,110}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
            <key>Fire_04_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,107},{22,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{22,126}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
            <key>Fire_04_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,256},{20,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{20,132}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
            <key>Fire_04_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,440},{10,56}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{10,56}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
            <key>Fire_04_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,438},{10,36}}</string>
                <key>offset</key>
                <string>{-2,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{10,36}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
            <key>Fire_04_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,117},{6,22}}</string>
                <key>offset</key>
                <string>{-2,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{6,22}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
            <key>Fire_04_looped_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,472},{4,6}}</string>
                <key>offset</key>
                <string>{-3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{4,6}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
            <key>Fire_04_looped_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,453},{10,6}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,144},{10,6}}</string>
                <key>sourceSize</key>
                <string>{30,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FireSheet_01-hd.png</string>
            <key>size</key>
            <string>{526,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:090e88ee294e7a81f3a42fb7ef8f1b8f:9324b9edf2e69819df7669b4b15b8a42:a22685978507f88f08f77607cd952193$</string>
            <key>textureFileName</key>
            <string>FireSheet_01-hd.png</string>
        </dict>
    </dict>
</plist>
