<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire_01_2_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,106},{10,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{10,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>Fire_01_2_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,100},{12,22}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{12,22}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>Fire_01_2_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,251},{12,24}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{12,24}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>Fire_01_2_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{12,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{12,26}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>Fire_01_2_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,160},{8,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{8,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>Fire_01_2_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,219},{10,22}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{10,22}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>Fire_01_2_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,160},{10,24}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{10,24}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>Fire_01_2_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,27},{12,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{12,26}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>Fire_01_2_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,160},{10,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{10,26}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>Fire_01_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,124},{19,53}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{19,53}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>Fire_01_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,194},{23,43}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{23,43}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>Fire_01_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,60},{23,47}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{23,47}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>Fire_01_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,256},{21,51}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{21,51}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>Fire_01_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,124},{15,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{15,53}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>Fire_01_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,172},{21,41}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{21,41}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>Fire_01_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,194},{21,47}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{21,47}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>Fire_01_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,256},{21,49}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{21,49}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>Fire_01_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{21,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{21,53}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>Fire_02_2_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,158},{10,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{10,20}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>Fire_02_2_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,264},{10,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{10,20}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>Fire_02_2_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,242},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{12,22}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>Fire_02_2_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,238},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>Fire_02_2_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,223},{14,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>Fire_02_2_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,124},{14,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>Fire_02_2_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,185},{10,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>Fire_02_2_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,210},{8,18}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{8,18}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>Fire_02_2_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,251},{8,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{8,20}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>Fire_02_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,238},{21,39}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{21,39}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>Fire_02_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,238},{21,37}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{21,37}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>Fire_02_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,194},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{25,43}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>Fire_02_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,60},{29,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,45}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>Fire_02_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,54},{27,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{27,45}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>Fire_02_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,54},{27,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{27,47}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>Fire_02_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,124},{19,47}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{19,47}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>Fire_02_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,178},{15,35}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{15,35}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>Fire_02_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,54},{17,37}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{17,37}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>Fire_03_2_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,190},{32,27}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>Fire_03_2_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,190},{32,27}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>Fire_03_2_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,223},{32,27}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>Fire_03_2_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,100},{30,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>Fire_03_2_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,158},{30,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{30,31}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>Fire_03_2_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,158},{32,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>Fire_03_2_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,124},{32,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>Fire_03_2_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,124},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,33}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>Fire_03_2_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,130},{30,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>Fire_03_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{61,53}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{61,53}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>Fire_03_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,194},{61,53}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{61,53}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>Fire_03_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{61,55}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{61,55}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>Fire_03_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{59,59}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{59,59}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>Fire_03_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{59,61}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{59,61}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>Fire_03_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{59,63}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{59,63}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>Fire_03_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{59,65}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{59,65}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>Fire_03_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{61,65}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{61,65}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>Fire_03_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,64},{59,55}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{59,55}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>Fire_04_2_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,219},{8,5}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{8,5}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_2_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,149},{8,11}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_2_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,253},{8,15}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_2_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,238},{6,27}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{6,27}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_2_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,117},{6,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{6,31}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_2_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,124},{6,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{6,33}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_2_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,262},{4,15}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{4,15}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_2_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,189},{4,9}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{4,9}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_2_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,149},{2,7}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{2,7}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_2_looped_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,169},{2,3}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{2,3}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_2_looped_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,169},{2,3}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,35},{2,3}}</string>
                <key>sourceSize</key>
                <string>{8,43}</string>
            </dict>
            <key>Fire_04_looped_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,242},{15,10}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
            <key>Fire_04_looped_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,108},{15,20}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
            <key>Fire_04_looped_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,108},{15,30}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
            <key>Fire_04_looped_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,133},{11,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{11,56}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
            <key>Fire_04_looped_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,124},{11,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{11,64}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
            <key>Fire_04_looped_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,66},{11,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{11,66}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
            <key>Fire_04_looped_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,102},{5,30}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{5,30}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
            <key>Fire_04_looped_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,92},{5,18}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{5,18}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
            <key>Fire_04_looped_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,190},{3,12}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{3,12}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
            <key>Fire_04_looped_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,60},{3,4}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{3,4}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
            <key>Fire_04_looped_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,100},{1,2}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,72},{1,2}}</string>
                <key>sourceSize</key>
                <string>{15,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FireSheet_01.png</string>
            <key>size</key>
            <string>{256,277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:090e88ee294e7a81f3a42fb7ef8f1b8f:9324b9edf2e69819df7669b4b15b8a42:a22685978507f88f08f77607cd952193$</string>
            <key>textureFileName</key>
            <string>FireSheet_01.png</string>
        </dict>
    </dict>
</plist>
